<div class="titleize">
  <div class="title">Products</div>
</div>

<% if current_user&.admin %>
  <div class="nav-link">
      <%= link_to "Add Product", new_product_path %>
  </div>
<% end %>

<%= render "layouts/search_form"%>

<% if @products.any? %>
  <div class="card-wrapper">
    <% @products.each do |product| %>
      <div>
          <a href="<%=product_path(product) %>">
            <p><%= product.name %></p>
            <p>Total Reviews: <%= product.reviews.count %></p>
            <p><%= product.reviews.any? && "Average Review: #{product.calculate_average}" %></p>
          </a>
      </div>
    <% end %>
  </div>
<% end %>
