<div class="titleize">
  <div class="title">Products</div>
</div>

<div class="nav-link">
    Add a Product? Sure : <%= link_to "Add One Here", new_product_path %>
</div>

<% if @products.any? %>
  <div class="card-wrapper">
    <% @products.each do |product| %>

      <div>
          <a href="<%=product_path(product) %>">
            <p><%= product.name %></p>
            <p>Total Reviews: <%= product.reviews.count %></p>
            <p><%= product.reviews.any? && "Average Review: #{product.reviews.average(:rating)}" %></p>
          </a>
      </div>
    <% end %>
  </div>
<% end %>
