
<div class="view-container">
  <div class="description thickening-shadow">
    <div>$<%= @product.cost %></div>
    <%= @product.name %>
    <div><%= @product.country_of_origin %></div>
  </div>

  <% if @product.reviews.any? %>

    <div class="wrapper-review">
      <% @product.reviews.each do |review| %>
        <div>
          <div class="author-container thickening-shadow">
            <%= link_to review.author, product_review_path(@product, review) %>
          </div>
          <div class="rating-container thickening-shadow">
            <%= review.rating %> ⭐
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No reviews are listed for this product.</p>
  <% end %>



  <div class="change">
    <div><%= link_to "Add an review", new_product_review_path(@product) %></div>
    <% if current_user&.admin %>
      <div>
        <%= link_to "Edit product name", edit_product_path(@product) %>
      </div>
      <div>
        <%= link_to "Delete product", product_path(@product), :data => {:confirm =>  "Are you sure?", :method => "delete"} %>
      </div>
    <% end %>
    <div><%= link_to "Return to products", products_path %></div>
  </div>
</div>
