<div class="titleize">Product: <%= @product.name %></div>

<div class="view-container">
  <div id="review-view-text">
    <p id="review-author">Review: <%= @review.author %></p>
    <div id="review-review">
      <p id="review-rating"><%= @review.rating %>  ⭐</p>
      <p><%= @review.content_body %></p>
    </div>
  </div>
  <div class="change">
    <div>
      <%= link_to "Edit review", edit_product_review_path(@product, @review) %>
    </div>
    <div>
      <%= link_to "Delete review", product_review_path(@product, @review),
                            :data => {:confirm => "Are you sure?",
                                          :method => "delete"} %>
    </div>
    <div>
      <%= link_to "Return to product", product_path(@product) %>
    </div>
  </div>
</div>
