<!DOCTYPE html>
<html>
<head>
  <title>Marios Reviews</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div id="navbar">
    <div id="navigation">
      <a href="/">Home</a>
      <a href="/products">Products</a>
    </div>
    <div id="sign-up">
      <% if user_signed_in? %>
          <div>Welcome <%= current_user.email %></div>
          <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <a href="/users/sign_in">Sign in</a>
        <a href="/users/sign_up">Sign up</a>
      <% end %>
    </div>
  </div>
  <div id="page-container">
    <%= yield %>
  </div>
</body>
</html>
